body{
     margin: 0;
     padding: 0;   
     font-family: 'Kaushan Script', cursive;
}


.navigation-bar{
     width: 100%;
     height: 120px;
     color: solid;
     background-color: #000;
     background-repeat: no-repeat;
     background-size: cover;
     
/*     background-color: #fff;*/
}

.nav-barspan{
     color: #c40808;
}

.logo-img{
     width: 30%;
     float: left;
     margin-left: 100px;
     margin-top: 10px;
}

.logo-img img{
     width: 23%;
     display: inline;
}

.logo-img h2{
     color: red;
     font-size: 30px;
     font-weight: 100;
     letter-spacing: 5px;
     text-shadow: 10px 2px 10px red;
}

.logo-img hr{
   width: 63%;
   margin-top: -20px;
   margin-left: -30px;
   color: #fff;
}

.nav-bar{
     float: right;
     margin-right: 100px;
     margin-top: 30px;

}

.nav-bar ul li{
     float: left;
     padding-left: 30px;
     list-style: none;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
}

.nav-bar ul li a{
     text-decoration: none;
     color: #fff;

}

/*Banner-img starts here */
.big-wrapper{
     width: 100%;
     display: flex;
     background-color: #000;
/*     border: 2px solid red;*/
}

.banner-text{
     width: 50%;
     float: right;
     position:absolute;
     display: block;
     
/*     border: 2px solid #fff;*/
     margin-left: 650px;
     margin-top: 300px;
}

.banner-text h2{
     font-size: 67px;
     color: #fff;
     transform: rotate(0deg);
}

span{
     color: orangered;
}

.banner-text h3{
     font-size: 25px;
     color: #fff;
     margin-top: -50px;
}

.btn{
     width: 25%;
     height: 50px;
     background-color: #fff;
     border-radius: 10px;
     font-size: 13px;
     font-weight: bold;
     cursor: pointer;
     color: yellow;
     font-family: 'Kaushan Script', cursive;
}

.btn a{
     text-decoration: none;
     color: #000;
     font-size: 14px;
}

.banner-img{
      float: left;
      width: 50%;
/*     border: 2px solid green;*/
}

.banner-img img{
     width: 55%;
     margin-left: 10%;
     background-repeat: no-repeat;
     background-attachment: fixed;
}



/*About me section */
.about-me{
     width: 100%;
     height: 700px;
     margin-top: -6px;
     background-color: rgb(61, 75, 75);
}

.left-box{
     width: 50%;
     height: 200px;
     float: left;
     margin-top: 100px;
     margin-left: 100px;
/*     border: 2px solid rebeccapurple;*/
}

.left-box h1{
     color: #fff;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 100;

}

.left-box p{
     color: #fff;
     word-spacing: 4px;
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     line-height: 22px;
     

 /*    font-family: 'Satisfy', cursive;    */     
}

.meters{
     width: 300px;
     height: 20px;
}

.button-nav-bar{
     width: 100%;
     height: 100px;
     margin-left: -80px;
     background-color: rgb(61, 75, 75);
}

.button-nav-bar ul li{
     float: left;
     padding-left: 40px;
     margin-top: 20px;
     font-size: 20px;
     font-family: 'Raleway', sans-serif;
     list-style: none;
     position: relative;
}


.button-nav-bar ul li a{
     text-decoration: none;
     color: #fff;
     color: greenyellow;
     background-color: rgb(2, 15, 15);
     padding: 15px;
     border-radius: 10px;
     transition-duration: 1s;

}

.button-nav-bar ul li a:hover{
     background-color: aqua;
     transform: rotate(360deg);
     background-color: rgb(61, 75, 75);
}


 
/*
:hover ul li a{
     background-color: red;
     transition: transform .3s ease;
}*/

.right-box{
     width: 30%;
     float: right;
     margin-top: 70px;
     margin-right: 100px;
}

.right-box img{
     width: 95%;
     transition: transform .3s ease;
     border-radius: 0px;
     border: 20px solid #fff; 
     display: inline-block;
     cursor: pointer;
     border-top-left-radius: 120px;
     border-bottom-right-radius: 120px;
     transition: all 0.5s ease-in 0s;
/*   border-image-slice: 27 27 27 27;
     border-image-width: 20px 20px 20px 20px;
     border-image-outset: 0px 0px 0px 0px;
     border-image-repeat: stretch stretch;
     border-image-source: url("../images/border-image-1.png");
     border-style: solid;
     border-image-outset: 15px;
     */
}

.right-box img:hover{
     width: 97%;
     transform: scale(1.0);
}

.box{
     width: 400px;
     height: 300px;
     border: 10px solid #c40808;
     margin-top: 50px;
     margin-left: 300px;
     border-top-right-radius: 10%;
     border-bottom-left-radius: 20%;     
}

/*my services starts here*/
.my-sevice{
     width: 100%;
     height: 600px;
     background-color: #000;
     margin-top: -26.5px;
    
}

.my-sevice h1{
     color: #fff;
     margin-left: 100px;
     padding-bottom: 1px;
     padding-top: 50px;
     font-size: 30px;
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
}


.my-sevice .box-1{
     width: 24%;
     height: 390px;
     background-color: gray;
     float: left;
     align-items: center;
     margin-left: 90px;
     border-radius: 10px;
     cursor: pointer;
     transition: all 0.5s ease-in 0s;
}

.box-1:hover{
     width: 25.5%;
     background-color: red;
     transform: translate(520px, 520px);
     transform: scale(1.0);
}

.my-sevice .box-1 i{
     font-size: 60px;
     padding-left: 30px;
     padding-top: 30px;
}

.my-sevice .box-2{
     width: 24%;
     height: 390px;
     background-color: gray;
     float: left;
     margin-left: 90px;
     border-radius: 10px;
     cursor: pointer;
     transition: all 0.5s ease-in 0s;
}

.box-2:hover:hover{
     width: 25.5%;
     background-color: red;
     transform: translate(520px, 520px);
     transform: scale(1.0);
}



.my-sevice .box-3{
     width: 24%;
     height: 390px;
     background-color: gray;
     float: left;
     margin-left: 90px;
     border-radius: 10px;
     cursor: pointer;
     transition: all 0.5s ease-in 0s;
}

.box-3:hover:hover{
     width: 25.5%;
     background-color: red;
     transform: translate(520px, 520px);
     transform: scale(1.0);
}

.my-sevice .box-2 i{
     font-size: 60px;
     padding-left: 30px;
     padding-top: 30px;
}

.h-2{
     padding-left: 30px;
     font-family: 'Roboto', sans-serif;
}

.my-sevice p{
     padding: 28px 28px;
     margin-top: -30px;
     word-spacing: 3px;
     color: #fff;
     font-family: 'Roboto', sans-serif;
}

.my-sevice .big-button{
     width: 30%;
     height: 40px;
     margin-left: 30px;
     padding-top: -10px;
     margin-top: 10px;
     font-family: ;
     border: 0;
     color: #000;
     position: relative;
     font-family: 'Roboto', sans-serif;
}

.my-sevice .box-3 i{
     font-size: 60px;
     padding-left: 30px;
     padding-top: 30px;
}

.footer-btnn{
     width: 100%;
     height: 200px;
     background-color: #000;
}
.see-more{
     border: 2px solid red;
     background-color: #000;
     color: #fff;
     width: 10%;
     margin: 0 auto;
     margin-left: 650px;
     margin-top: 100px;
     position: relative;
}


.center{
     margin: 0 auto;
     align-items: center;
     margin-left: 630px;
     margin-top: 50px;
     width: 15%;
     height: 50px;
     border-radius: 10px;
     font-size: 15px;
     cursor: pointer;
     background-color: #000;
     border: 2px solid #fff;
     color: #fff;
     display: inline-block;
}

/* footer-box starts here */


.footer-big-wrapper{
     width: 100%;
     height: 500px;
     background-color:  #000;
}

.social-media-icon{
     width: 40%;
     height: 500px;
 /*    border: 2px solid red;*/
     float: left;
     margin-left: 80px;
}

.social-media-icon p{
     display: inline;
}

.social-media-icon h1{
     font-size: 40px;
     color: #fff;
     margin-bottom: -5px;
     margin-left: 22px;
     position: relative;
     font-family: Arial, Helvetica, sans-serif;
     font-family: 'Kaushan Script', cursive;
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
}

.social-media-icon p{
     font-size: -50px;
     font-family: 'Roboto', sans-serif;
     margin-left: 6px;
}

i{
     font-size: 35px;
     color: #fff;
     padding-top: 20px;
     font-family: Arial, Helvetica, sans-serif;
     margin-left: 20px;
     cursor: pointer;
     padding-top: 20px;
     
}

.social-media-icon .btn-cv{
          margin: 0 auto;
          align-items: center;
          margin-top: 50px;
          margin-left: 60px;
          width: 25%;
          height: 50px;
          border-radius: 10px;
          font-size: 15px;
          cursor: pointer;
          background-color: #000;
          background-color: red;
          color: #fff;
}

.social{
     font-size: 20px;
}

.fa-brands .fa-twitter{
     font-size: 30px;
}

.enquery-form{
     width: 40%;
     height: 500px;
 /*    border: 2px solid red;*/
     float: right;
     margin-right: 80px;

}


.enquery-form input{
     width: 100%;
     height: 45px;
     font-size: 18px;
     border-radius: 5px;
     margin-bottom: 20px;
     background-color: rgb(48, 12, 12);
     border: none;
}

textarea{
     font-size: 18px;
     border-radius: 5px;
     width: 100%;
     background-color: rgb(48, 12, 12);
     border: none;
}

.enquery-form .btn-cv{
     margin: 0 auto;
     align-items: center;
     margin-top: 30px;
     width: 28%;
     height: 50px;
     border-radius: 10px;
     font-size: 15px;
     cursor: pointer;
     background-color: #000;
     background-color: red;
     color: #fff;
}
